<%inherit file="../common/main_base.html"/>

<%!
from django.utils.translation import ugettext as _
%>

<%block name="containor">
<div class="padding">

    <div class="box">
        <div class="box-header">
            <h2 id="pagetitlename">ACANO CLIENT</h2>
            <small>ACANO CLIENT</small>
        </div>
    </div>

    <div class="box">
        <div class="table-responsive">
            <table class="table table-hover table-striped table-bordered" id="table_acanoClient" style="width:100%">
                <thead>
                <tr>
                    <th class="th-center">Name</th>
                    <th class="th-center">Email</th>
                    <th class="th-center">User JID</th>
                    <th class="th-center">tenant</th>
                </tr>
                </thead>
                <tbody>
                % for data in context['data']:
                <tr>
                    <td>${data['name']}</td>
                    <td>${data['email']}</td>
                    <td>${data['userJid']}</td>
                    <td>${data['tenant']}</td>
                </tr>
                % endfor
                </tbody>
            </table>
        </div>
    </div>
</div>
</%block>

<%block name="scriptDown">
<script>
    $(document).ready(function() {
        $table = $("#table_acanoClient");
        $table.dataTable({
            sLengthMenu: [
                [10, 20, 50, -1], //key
                [10, 20, 50, "All"] //value
            ],
            dom: '<"clear"fl><"search">rt<"bottom"ipl>',
            searching: true,
            paginate: true,
            order: [[0, 'asc']],
            "oLanguage": {
                "sInfo": "Page: _PAGE_ / _PAGES_",
                'sLengthMenu': 'Display <select name="datatable-length">' +
                '<option value="10">10</option>' +
                '<option value="20">20</option>' +
                '<option value="50">50</option>' +
                '<option value="-1">All</option>' +
                '</select> records',
                "oPaginate": {
                    "sNext": ">",
                    "sPrevious": "<",
                },

            },
            columns: [
                null,
                null,
                null,
                null,
            ],
            columnDefs: [
            ],
            'initComplete': function () {
            }
        });
    });
</script>
</%block>
