<%inherit file="../common/main_base.html"/>

<%!
from django.utils.translation import ugettext as _
%>

<%block name="containor">
<style>
    td{
       font-size: 15px !important;
        height: 30px !important;
    }
    .td_text{
        width: 30%;
    }
    .cm_img{
        margin-left: 13px !important;
        margin-right: 13px !important;
    }
    p{
        font-size: 15px !important;
        margin-top: 40px !important;

    }
    tr{
        height:50px !important;
    }
</style>
<div class="padding">

  <div class="box">
    <div class="box-header">
      <h2>COMMAND MANAGEMENT</h2>
      <small>COMMAND MANAGEMENT</small>
    </div>
  </div>

  <div class="box">
      <div class="table-responsive">
        <table class="table table-bordered">
          <tbody>
            <tr>
              <td class="td_text"> <img src="/static/common/img/video.png" alt="logo" class="cm_img"> &nbsp; Video Send </td>
              <td>
                  <p><input type="checkbox" name="check" checked="" required="true" data-parsley-multiple="check">I agree to the <a href="#" class="text-info">Terms of Service</a></p>
              </td>
            </tr>
            <tr>
              <td class="td_text"> <img src="/static/common/img/mpg.png" alt="logo" class="cm_img"> &nbsp; Video Mode </td>
              <td class="td_text2">
                  <p><input type="checkbox" name="check" checked="" required="true" data-parsley-multiple="check">I agree to the <a href="#" class="text-info">Terms of Service</a></p>
              </td>
            </tr>
            <tr>
              <td class="td_text"> <img src="/static/common/img/volume.png" alt="logo" class="cm_img"> &nbsp; Audio Hearing </td>
              <td>

                 <p> <input type="checkbox" name="check" checked="" required="true" data-parsley-multiple="check">I agree to the <a href="#" class="text-info">Terms of Service</a></p>

              </td>
            </tr>
            <tr>
              <td class="td_text"> <img src="/static/common/img/mic.png" alt="logo" class="cm_img"> &nbsp; Audio Speaking </td>
              <td>

                  <p><input type="checkbox" name="check" checked="" required="true" data-parsley-multiple="check">I agree to the <a href="#" class="text-info">Terms of Service</a></p>

              </td>
            </tr>
            <tr>
              <td class="td_text"> <img src="/static/common/img/fileshared.png" alt="logo" class="cm_img"> &nbsp; Document Sharing </td>
              <td>

                  <p><input type="checkbox" name="check" checked="" required="true" data-parsley-multiple="check">I agree to the <a href="#" class="text-info">Terms of Service</a></p>

              </td>
            </tr>
            <tr>
              <td class="td_text"> <img src="/static/common/img/text file.png" alt="logo" class="cm_img"> &nbsp; Document View </td>
              <td>

                  <p><input type="checkbox" name="check" checked="" required="true" data-parsley-multiple="check">I agree to the <a href="#" class="text-info">Terms of Service</a></p>

              </td>
            </tr>
            <tr>
              <td class="td_text"> <img src="/static/common/img/view.png" alt="logo" class="cm_img"> &nbsp; Video Receive </td>
              <td>

                  <p><input type="checkbox" name="check" checked="" required="true" data-parsley-multiple="check">I agree to the <a href="#" class="text-info">Terms of Service</a></p>

              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>


<!-- 기본 소스
 <label class="ui-check">
                  <input type="checkbox" name="check" checked="" required="true" data-parsley-multiple="check"><i></i> I agree to the <a href="#" class="text-info">Terms of Service</a>
                </label>
 -->
</%block>
