<%inherit file="../common/main_base.html"/>

<%!
from django.utils.translation import ugettext as _
%>

<%block name="containor">
<div class="padding">

    <div class="box">
        <div class="box-header">
            <h2>ENDPOINT</h2>
            <small>ENDPOINT</small>
        </div>
    </div>

    <div class="box" style="padding: 10px;">
        <div style="padding: 10px;">
            <button class="md-btn md-raised mb-2 w-xs red" id="delBtn" style="float: right;">DEL</button>

            <a href="#layer2" class="btn-example">
                <button class="md-btn md-raised mb-2 w-xs indigo dialog__trigger" id="addBtn" style="float: right; margin-right: 8px;">ADD</button>
            </a>
        </div>

        <div class="table-responsive">
            <table class="table table-hover table-striped table-bordered" id="table_endPoint" style="width:100%">
                <thead>
                <tr>
                    <th class="th-center" style="width: 5%;"><input type="checkbox" id="select_all"/></th>
                    <th class="th-center">EndPoint Name</th>
                    <th class="th-center">Device Type</th>
                    <th class="th-center">IP</th>
                    <th class="th-center">Group Name</th>
                </tr>
                </thead>
                <tbody>
                % for data in context['data']:
                <tr>
                    <td></td>
                    <td>${data['ep_name']}</td>
                    <td>${data['ep_type']}</td>
                    <td>${data['ip']}</td>
                    <td>${data['ep_group_name']}</td>
                </tr>
                % endfor
                </tbody>
            </table>
        </div>
    </div>
</div>
<!--  Layer popup -->

<div class="dim-layer">
    <div class="dimBg"></div>

    <div id="layer2" class="pop-layer">
        <div class="pop-container">
            <div class="pop-conts">

          <span class="nav-icon" style="padding-bottom: 18px;">
            <i class="fa fa-plug"></i>
          </span>
                <div style="margin-bottom: 10px;">
                    <strong>Account</strong><a href="#" class="btn-layerClose" style="float: right; font-size:18px;">X</a>
                </div>
                <hr width="100%" color="#d9d9d9">
                <div style="text-align: center;">
                    <table style="display: inline-block; width:100%;">
                        <tr style="margin-bottom: 10px;">
                            <td>Name</td>
                            <td class="rightTd"><input type="text" class="form-control wi280" id="user_id"><br></td>
                        </tr>
                        <tr>
                            <td>Device Type</td>
                            <td class="rightTd"><input type="text" class="form-control"  id="user_name"><br></td>
                        </tr>
                        <tr>
                            <td>IP</td>
                            <td class="rightTd"><input type="password" class="form-control"  id="user_pw"><br></td>
                        </tr>
                        <tr>
                            <td>SIP</td>
                            <td class="rightTd"><input type="password" class="form-control"id="user_pw2"><br></td>
                        </tr>
                        <tr>
                            <td>H.323</td>
                            <td class="rightTd"><input type="password" class="form-control"id="user_pw2"><br></td>
                        </tr>
                        <tr>
                            <td>MSLync</td>
                            <td class="rightTd"><input type="password" class="form-control"id="user_pw2"><br></td>
                        </tr>
                        <tr>
                            <td>UserName</td>
                            <td class="rightTd"><input type="password" class="form-control"id="user_pw2"><br></td>
                        </tr>
                        <tr>
                            <td>Recoring Device</td>
                            <td class="rightTd"><input type="password" class="form-control"id="user_pw2"><br></td>
                        </tr>
                        <tr>
                            <td>Group Name</td>
                            <td class="rightTd"><input type="password" class="form-control"id="user_pw2"><br></td>
                        </tr>
                        <tr>
                            <td>SortNo</td>
                            <td class="rightTd"><input type="password" class="form-control"id="user_pw2"><br></td>
                        </tr>


                    </table>

                    <button class="md-btn md-raised mb-2 w-xs purple mgt-20" id="confSave" onclick="btn_save()">SAVE</button>

                </div>
            </div>
        </div>
    </div>
</div>
<!--  Layer popup -->
</%block>

<%block name="scriptDown">
<script>
    $(document).ready(function() {
        $table = $("#table_endPoint");
        $table.dataTable({
            sLengthMenu: [
                [10, 20, 50, -1], //key
                [10, 20, 50, "All"] //value
            ],
            dom: '<"clear"fl><"search">rt<"bottom"ipl>',
            searching: true,
            paginate: true,
            order: [[1, 'desc']],
            "oLanguage": {
                "sInfo": "Page: _PAGE_ / _PAGES_",
                'sLengthMenu': 'Display <select name="datatable-length">'+
                '<option value="10">10</option>'+
                '<option value="20">20</option>'+
                '<option value="50">50</option>'+
                '<option value="-1">All</option>'+
                '</select> records',
                "oPaginate": {
                    "sNext": ">",
                    "sPrevious": "<",
                },

            },
            columns: [
                {'orderable': false},
                null,
                null,
                null,
                null,
            ],
            columnDefs: [
                {targets: 0, orderable: 'false', searchable: false, checkboxes: true, className: "text-center"},
            ],
            "drawCallback":function(){
                $(".paginate_button").attr('href', 'javascript:check_click();');
            }
        });

    });

    function check_click(){
        //alert("paging btn");
        if($("input:checkbox[id='select_all']").prop("checked")) {
            $('input:checkbox').prop("checked", false);
        }
        else {
            $('input:checkbox').prop("checked", false);
        }
    }

    $('.btn-example').click(function(){
        var $href = $(this).attr('href');
        layer_popup($href);
    });

    function layer_popup(el){

        var $el = $(el);        //레이어의 id를 $el 변수에 저장
        var isDim = $el.prev().hasClass('dimBg');   //dimmed 레이어를 감지하기 위한 boolean 변수

        isDim ? $('.dim-layer').fadeIn() : $el.fadeIn();

        var $elWidth = ~~($el.outerWidth()),
                $elHeight = ~~($el.outerHeight()),
                docWidth = $(document).width(),
                docHeight = $(document).height();

        // 화면의 중앙에 레이어를 띄운다.
        if ($elHeight < docHeight || $elWidth < docWidth) {
            $el.css({
                marginTop: -$elHeight /2,
                marginLeft: -$elWidth/2
            })
        } else {
            $el.css({top: 0, left: 0});
        }

        $el.find('a.btn-layerClose').click(function(){
            isDim ? $('.dim-layer').fadeOut() : $el.fadeOut(); // 닫기 버튼을 클릭하면 레이어가 닫힌다.
            return false;
        });

        $('.layer .dimBg').click(function(){
            $('.dim-layer').fadeOut();
            return false;
        });

    }
</script>
</%block>
