<%inherit file="../common/main_base.html"/>

<%!
from django.utils.translation import ugettext as _
%>

<%block name="containor">
<div class="padding">

    <div class="box">
        <div class="box-header">
            <h2>ENDPOINTGROUP</h2>
            <small>ENDPOINTGROUP</small>
        </div>
    </div>

    <div class="box" style="padding: 10px;">
        <div style="padding: 10px;">
            <button class="md-btn md-raised mb-2 w-xs blue" id="saveBtn" style="float: right; margin-left: 8px;">SAVE</button>
            <button class="md-btn md-raised mb-2 w-xs red" id="delBtn" style="float: right;">DEL</button>

            <a href="#layer2" class="btn-example">
                <button class="md-btn md-raised mb-2 w-xs indigo dialog__trigger" id="addBtn" style="float: right; margin-right: 8px;">ADD</button>
            </a>
        </div>

        <div class="table-responsive">
            <table class="table table-hover table-striped table-bordered" id="table_endPointGroup" style="width:100%">
                <thead>
                <tr>
                    <th class="th-center" style="width: 5%"><input type="checkbox" id="select_all"/></th>
                    <th class="th-center">Group Name</th>
                    <th class="th-center">Order by</th>
                </tr>
                </thead>
                <tbody>
                % for data in context['data']:
                <tr>
                    <td></td>
                    <td>${data['ep_group_name']}</td>
                    <td>${data['order_no']}</td>
                </tr>
                % endfor
                </tbody>
            </table>
        </div>
    </div>
</div>
</%block>

<%block name="scriptDown">
<script>

    $(document).ready(function() {
        $table = $("#table_endPointGroup");
        $table.dataTable({
            sLengthMenu: [
                [10, 20, 50, -1], //key
                [10, 20, 50, "All"] //value
            ],
            dom: '<"clear"fl><"search">rt<"bottom"ipl>',
            searching: true,
            paginate: true,
            order: [[1, 'desc']],
            "oLanguage": {
                "sInfo": "Page: _PAGE_ / _PAGES_",
                'sLengthMenu': 'Display <select name="datatable-length">'+
                '<option value="10">10</option>'+
                '<option value="20">20</option>'+
                '<option value="50">50</option>'+
                '<option value="-1">All</option>'+
                '</select> records',
                "oPaginate": {
                    "sNext": ">",
                    "sPrevious": "<",
                },

            },
            columns: [
                {'orderable': false},
                null,
                null,
            ],
            columnDefs: [
                {targets: 0, orderable: 'false', searchable: false, checkboxes: true, className: "text-center"},
            ],
            "drawCallback":function(){
                $(".paginate_button").attr('href', 'javascript:check_click();');
            }
        });

        $table.on('click', 'td', function() {
            var table = $("#table_endPointGroup").DataTable();
            var table_tr_idx = table.cell(this).index().row;
            var table_tr = table.row(table_tr_idx).node();
            var table_td_idx = table.cell(this).index().column;
            var table_td_data = $(this).text();
            var this_input = '';
            if(table_td_idx == 1 || table_td_idx == 2){
                if($(this).children('input').length == 0){
                    $(this).html('<input type="text" value="' + table_td_data + '" id="modi_input" style="width: 80%;"/>');
                    this_input = $(this).find('input');
                    $(this_input).select();
                }
            }

            $(this_input).blur(function(){
                $(this).parent().html($(this_input).val());
            });

            $(this).on('keyup', 'input#modi_input', function(){
                $(table_tr).find('input.dt-checkboxes').prop('checked', true);
            });
        });
    });


    function check_click(){
        //alert("paging btn");
        if($("input:checkbox[id='select_all']").prop("checked")) {
            $('input:checkbox').prop("checked", false);
        }
        else {
            $('input:checkbox').prop("checked", false);
        }
    }

    $('.btn-example').click(function(){
        var $href = $(this).attr('href');
        layer_popup($href);
    });

    function layer_popup(el){

        var $el = $(el);        //레이어의 id를 $el 변수에 저장
        var isDim = $el.prev().hasClass('dimBg');   //dimmed 레이어를 감지하기 위한 boolean 변수

        isDim ? $('.dim-layer').fadeIn() : $el.fadeIn();

        var $elWidth = ~~($el.outerWidth()),
                $elHeight = ~~($el.outerHeight()),
                docWidth = $(document).width(),
                docHeight = $(document).height();

        // 화면의 중앙에 레이어를 띄운다.
        if ($elHeight < docHeight || $elWidth < docWidth) {
            $el.css({
                marginTop: -$elHeight /2,
                marginLeft: -$elWidth/2
            })
        } else {
            $el.css({top: 0, left: 0});
        }

        $el.find('a.btn-layerClose').click(function(){
            isDim ? $('.dim-layer').fadeOut() : $el.fadeOut(); // 닫기 버튼을 클릭하면 레이어가 닫힌다.
            return false;
        });

        $('.layer .dimBg').click(function(){
            $('.dim-layer').fadeOut();
            return false;
        });

    }
</script>
</%block>
