<%inherit file="../common/main_base.html"/>

<%!
from django.utils.translation import ugettext as _
%>

<%block name="containor">
<div class="padding">

    <div class="box">
        <div class="box-header">
            <h2 id="pagetitlename">ENDPOINTGROUP</h2>
            <small>ENDPOINTGROUP</small>
        </div>
    </div>

    <div class="box" style="padding: 10px;">
        <div style="padding: 10px;">
            <button class="md-btn md-raised mb-2 w-xs blue" id="saveBtn" style="float: right; margin-left: 8px;">SAVE</button>
            <button class="md-btn md-raised mb-2 w-xs red" onclick="btn_del()" style="float: right;">DEL</button>

            <a href="#layer2" class="btn-example">
                <button class="md-btn md-raised mb-2 w-xs indigo dialog__trigger" id="addBtn" style="float: right; margin-right: 8px;">ADD</button>
            </a>
        </div>

        <div class="table-responsive">
            <table class="table table-hover table-striped table-bordered" id="table_endPointGroup" style="width:100%">
                <thead>
                <tr>
                    <th class="th-center" style="width: 5%"><input type="checkbox" id="select_all"/></th>
                    <th class="th-center">Group Name</th>
                    <th class="th-center">Order by</th>
                </tr>
                </thead>
                <tbody>
                % for data in context['data']:
                <tr>
                    <td></td>
                    <td>${data['ep_group_name']}</td>
                    <td>${data['order_no']}</td>
                </tr>
                % endfor
                </tbody>
            </table>
        </div>
    </div>
</div>
<!--  Layer popup -->

<div class="dim-layer">
    <div class="dimBg"></div>

    <div id="layer2" class="pop-layer" style="height: 330px;">
        <div class="pop-container">
            <div class="pop-conts">

          <span class="nav-icon" style="padding-bottom: 18px;">
            <i class="fa fa-plug"></i>
          </span>
                <div style="margin-bottom: 10px;">
                    <strong>EndPoint Group</strong><a href="#" class="btn-layerClose" style="float: right; font-size:18px;">X</a>
                </div>
                <hr width="100%" color="#d9d9d9">
                <div style="text-align: center; vertical-align: middle;">
                    <table style="display: inline-block; width:100%;">
                        <tr style="margin-bottom: 10px;">
                            <td>Group Name</td>
                            <td class="rightTd"><input type="text" class="form-control wi280 " id="ep_group_name"><br></td>
                        </tr>
                        <tr>
                            <td>Sort No</td>
                            <td class="rightTd"><input type="text" class="form-control"  id="order_no"><br></td>
                        </tr>
                        <tr>
                            <td>Regist Id(비활성)</td>
                            <td class="rightTd"><input type="password" class="form-control"  id="regist_id"  readonly ><br></td>
                        </tr>

                    </table>

                    <button class="md-btn md-raised mb-2 w-xs purple mgt-20"  onclick="btn_save()">SAVE</button>

                </div>
            </div>
        </div>
    </div>
</div>
<!--  Layer popup -->
<!--  Layer popup detail -->
<!--
<div class="dim-layer" id="dim-layer-2">
    <div class="dimBg" id="dimBg"></div>

    <div id="layer3" class="pop-layer">
        <div class="pop-container">
            <div class="pop-conts">

          <span class="nav-icon" style="padding-bottom: 18px;">
            <i class="fa fa-plug"></i>
          </span>
                <div style="margin-bottom: 10px;">
                    <strong>EndPoint</strong><a href="#" class="btn-layerClose" style="float: right; font-size:18px;">X</a>
                </div>
                <hr width="100%" color="#d9d9d9">
                <div style="text-align: center;">
                   <table style="display: inline-block; width:100%;">
                        <tr style="margin-bottom: 10px;">
                            <td>ID</td>
                            <td class="rightTd"><input type="text" class="form-control wi280 " id="detail_user_id" readonly><br></td>
                        </tr>
                        <tr>
                            <td>NAME</td>
                            <td class="rightTd"><input type="text" class="form-control"  id="detail_user_name"><br></td>
                        </tr>
                        <tr>
                            <td>PASSWORD</td>
                            <td class="rightTd"><input type="password" class="form-control"  id="detail_user_pw" disabled><br></td>
                        </tr>
                        <tr>
                            <td>CONFIRM PASSWORD</td>
                            <td class="rightTd"><input type="password" class="form-control"id="detail_user_pw2" disabled><br></td>
                        </tr>
                        <tr>
                            <td>ROLE</td>
                            <td class="rightTd">
                                <select class="custom-select w-100" id="detail_user_role">
                                    <option value="A">Administor</option>
                                    <option value="S">System administor</option>
                                    <option value="U">User</option>
                                    <option value="M">Monitoring</option>
                                </select>
                            </td>
                        </tr>

                    </table>

                    <button class="md-btn md-raised mb-2 w-xs purple mgt-20" id="confSave" onclick="btn_update()">SAVE</button>

                </div>
            </div>
        </div>
    </div>
</div>
-->
<!--  Layer popup detail -->


</%block>

<%block name="scriptDown">
<script>

    $(document).ready(function() {
        $table = $("#table_endPointGroup");
        $table.dataTable({
            sLengthMenu: [
                [10, 20, 50, -1], //key
                [10, 20, 50, "All"] //value
            ],
            dom: '<"clear"fl><"search">rt<"bottom"ipl>',
            searching: true,
            paginate: true,
            order: [[1, 'desc']],
            "oLanguage": {
                "sInfo": "Page: _PAGE_ / _PAGES_",
                'sLengthMenu': 'Display <select name="datatable-length">'+
                '<option value="10">10</option>'+
                '<option value="20">20</option>'+
                '<option value="50">50</option>'+
                '<option value="-1">All</option>'+
                '</select> records',
                "oPaginate": {
                    "sNext": ">",
                    "sPrevious": "<",
                },

            },
            columns: [
                {'orderable': false},
                null,
                null,
            ],
            columnDefs: [
                {targets: 0, orderable: 'false', searchable: false, checkboxes: true, className: "text-center t1"},
            ],
            "drawCallback":function(){
                $(".paginate_button").attr('href', 'javascript:check_click();');
            },

        });

        $table.on('click', 'td', function() {
            var table = $("#table_endPointGroup").DataTable();
            var table_tr_idx = table.cell(this).index().row;
            var table_tr = table.row(table_tr_idx).node();
            var table_td_idx = table.cell(this).index().column;
            var table_td_data = $(this).text();
            var this_input = '';
            if(table_td_idx == 1 || table_td_idx == 2){
                if($(this).children('input').length == 0){
                    $(this).html('<input type="text" value="' + table_td_data + '" id="modi_input" style="width: 80%;"/>');
                    this_input = $(this).find('input');
                    $(this_input).select();
                }
            }

            $(this_input).blur(function(){
                $(this).parent().html($(this_input).val());
            });

            $(this).on('keyup', 'input#modi_input', function(){
                $(table_tr).find('input.dt-checkboxes').prop('checked', true);
            });
        });
    });


    function check_click(){
        //alert("paging btn");
        if($("input:checkbox[id='select_all']").prop("checked")) {
            $('input:checkbox').prop("checked", false);
        }
        else {
            $('input:checkbox').prop("checked", false);
        }
    }

    $('.btn-example').click(function(){
        var $href = $(this).attr('href');
        layer_popup($href);
    });

    function layer_popup(el){

        var $el = $(el);        //레이어의 id를 $el 변수에 저장
        var isDim = $el.prev().hasClass('dimBg');   //dimmed 레이어를 감지하기 위한 boolean 변수

        isDim ? $('.dim-layer').fadeIn() : $el.fadeIn();

        var $elWidth = ~~($el.outerWidth()),
                $elHeight = ~~($el.outerHeight()),
                docWidth = $(document).width(),
                docHeight = $(document).height();

        // 화면의 중앙에 레이어를 띄운다.
        if ($elHeight < docHeight || $elWidth < docWidth) {
            $el.css({
                marginTop: -$elHeight /2,
                marginLeft: -$elWidth/2
            })
        } else {
            $el.css({top: 0, left: 0});
        }

        $el.find('a.btn-layerClose').click(function(){
            isDim ? $('.dim-layer').fadeOut() : $el.fadeOut(); // 닫기 버튼을 클릭하면 레이어가 닫힌다.
            return false;
        });

        $('.layer .dimBg').click(function(){
            $('.dim-layer').fadeOut();
            return false;
        });

    }

    function btn_save() {

        var ep_group_name = $("#ep_group_name").val();
        var order_no = $("#order_no").val();
        var regist_id = $("#regist_id").val();

        var lock = 0;

        if (ep_group_name == '') {
            swal("Error", "group name 을 입력하세요", "warning");
            lock = 1;
        }
        else if (order_no == '') {
            swal("Error", "sort no 를 입력하세요", "warning");
            lock = 1;
        }

            if (lock == 0) {
                $.ajax({
                    type: "POST",
                    url: "/system/endPointGroup_add",
                    data: {
                        'csrfmiddlewaretoken': '${csrf_token}',
                        ep_group_name: ep_group_name,
                        order_no: order_no,
                        regist_id: regist_id
                    },
                    success: function (data) {
                        if (data.return == 'success') {
                            swal("Success", "등록 완료", "success")
                            location.reload();
                        }
                        else if (data.return != 'success') {
                            swal({
                                title: "Warning",
                                text: "group_name 중복",
                                icon: "warning",
                                buttons: true,
                                dangerMode: false,
                            })
                                    .then(function (willDelete) {
                                        if (willDelete) {
                                            return
                                        } else {
                                            return
                                        }
                                    });
                            //swal("Login-fail","ID,PW를 확인해주세요","warning");
                        }
                    },
                });
            }
        }
    function btn_del(){

        var table = $('#table_endPointGroup').DataTable();
            var del_ep_group= $('td.t1 input[type="checkbox"]:checked').map(function() {
                var this_tr = $(this).parent().parent();
                var this_td_data = $(this_tr).find('td').eq(1).text();
                console.log("this_td_data",this_td_data);

                return this_td_data;}).get();

            $.ajax({
                url: '/system/endPointGroup_del',
                type: "POST",
                data: {
                    'csrfmiddlewaretoken': '${csrf_token}',
                    'del_arr': del_ep_group
                }
            }).done(function(data){
                if(data.status == 'success'){
                    swal({
                        title: 'Success!',
                        text: "",
                        type: 'success',
                    }).then(function(){
                        location.reload();
                    });
                } else {
                     swal('경고', '삭제에 실패하였습니다.', 'warning');
                }
            });
    }
</script>
</%block>
