<%inherit file="../common/main_base.html"/>

<%!
from django.utils.translation import ugettext as _
%>

<%block name="containor">
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<div class="padding">

    <div class="box">
        <div class="box-header">
            <h2 id="pagetitlename">ENDPOINT</h2>
            <small>ENDPOINT</small>
        </div>
    </div>

    <div class="box" style="padding: 10px;">
        <div style="padding: 10px;">
            <button class="md-btn md-raised mb-2 w-xs red" id="delBtn" style="float: right;" onclick="btn_del()">DEL</button>

            <a href="#layer2" class="btn-example">
                <button class="md-btn md-raised mb-2 w-xs indigo dialog__trigger" id="addBtn" style="float: right; margin-right: 8px;">ADD</button>
            </a>
        </div>

        <div class="table-responsive">
            <table class="table table-hover table-striped table-bordered" id="table_endPoint" style="width:100%">
                <thead>
                <tr>
                    <th class="th-center" style="width: 5%;"><input type="checkbox" id="select_all"/></th>
                    <th class="th-center">EndPoint Name</th>
                    <th class="th-center">Device Type</th>
                    <th class="th-center">IP</th>
                    <th class="th-center">Group Name</th>
                </tr>
                </thead>
                <tbody>
                % for data in context['data']:
                <tr>
                    <td></td>
                    <td>${data['ep_id']}</td>
                    <td>${data['ep_type']}</td>
                    <td>${data['ip']}</td>
                    <td>${data['ep_group_name']}</td>
                </tr>
                % endfor
                </tbody>
            </table>
        </div>
    </div>
</div>
<!--  Layer popup -->

<div class="dim-layer">
    <div class="dimBg"></div>

    <div id="layer2" class="pop-layer">
        <div class="pop-container">
            <div class="pop-conts">

          <span class="nav-icon" style="padding-bottom: 18px;">
            <i class="fa fa-plug"></i>
          </span>
                <div style="margin-bottom: 10px;">
                    <strong>Account</strong><a href="#" class="btn-layerClose" style="float: right; font-size:18px;">X</a>
                </div>
                <hr width="100%" color="#d9d9d9">
                <div style="text-align: center;">
                    <table style="display: inline-block; width:100%; ">
                        <tr style="margin-bottom: 20px;">
                            <td>Name</td>
                            <td class="rightTd"><input type="text" class="form-control wi600" id="name" style="width: 300px;"><br></td>
                        </tr>
                        <tr>
                            <td>Device Type</td>
                            <td>
                                <label class="btn btn-outline-light" style="color:black; border: 1px solid #BDBDBD;">
                                    <input type="radio" name="options" autocomplete="off"value="ip"> IP
                                </label>

                                <label class="btn btn-outline-light" style="color:black;  border: 1px solid #BDBDBD;">
                                    <input type="radio" name="options" autocomplete="off" value="sip"> SIP
                                </label>

                                <label class="btn btn-outline-light" style="color:black;  border: 1px solid #BDBDBD;">
                                    <input type="radio" name="options" autocomplete="off"value="h.323"> H.323
                                </label>

                                <label class="btn btn-outline-light" style="color:black;  border: 1px solid #BDBDBD;">
                                    <input type="radio" name="options" autocomplete="off"value="mslync"> MSLync
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>IP</td>
                            <td class="rightTd"><input type="text" class="form-control"  id="ip"></td>
                        </tr>
                        <tr>
                            <td>SIP</td>
                            <td class="rightTd"><input type="text" class="form-control" id="sip"></td>
                        </tr>
                        <tr>
                            <td>H.323</td>
                            <td class="rightTd"><input type="text" class="form-control"id="h_323"></td>
                        </tr>
                        <tr>
                            <td>MSLync</td>
                            <td class="rightTd"><input type="text" class="form-control"id="mslync"></td>
                        </tr>
                        <tr>
                            <td>UserName</td>
                            <td class="rightTd"><input type="text" class="form-control"id="user_name"></td>
                        </tr>
                        <tr>
                            <td>Recording Device</td>
                            <td class="rightTd"><input type="text" class="form-control"id="recording_device"></td>
                        </tr>
                        <tr>
                            <td>Group Name</td>
                            <td class="rightTd">

                                <select class="custom-select w-100" id="group_name">
                                    % for data2 in context['data2']:
                                    <option value="${data2['ep_group_seq']}">${data2['ep_group_name']}</option>
                                    % endfor
                                </select>

                            </td>
                        </tr>
                        <tr>
                            <td>SortNo</td>
                            <td class="rightTd"><input type="number" class="form-control"id="sortno"></td>
                        </tr>


                    </table>

                    <button class="md-btn md-raised mb-2 w-xs purple mgt-20" id="confSave" onclick="btn_save()">SAVE</button>

                </div>
            </div>
        </div>
    </div>
</div>
<!--  Layer popup -->
</%block>

<%block name="scriptDown">
<script>
    $(document).ready(function() {
        $table = $("#table_endPoint");
        $table.dataTable({
            sLengthMenu: [
                [10, 20, 50, -1], //key
                [10, 20, 50, "All"] //value
            ],
            dom: '<"clear"fl><"search">rt<"bottom"ipl>',
            searching: true,
            paginate: true,
            order: [[1, 'desc']],
            "oLanguage": {
                "sInfo": "Page: _PAGE_ / _PAGES_",
                'sLengthMenu': 'Display <select name="datatable-length">'+
                '<option value="10">10</option>'+
                '<option value="20">20</option>'+
                '<option value="50">50</option>'+
                '<option value="-1">All</option>'+
                '</select> records',
                "oPaginate": {
                    "sNext": ">",
                    "sPrevious": "<",
                },

            },
            columns: [
                {'orderable': false},
                null,
                null,
                null,
                null,
            ],
            columnDefs: [
                {targets: 0, orderable: 'false', searchable: false, checkboxes: true, className: "text-center t1"},
            ],
            "drawCallback":function(){
                $(".paginate_button").attr('href', 'javascript:check_click();');
            },
            "initComplete":function(){
                $(".text-center").attr('href','javascript:btn_del();');
            },
        });
    });

    function check_click(){
        //alert("paging btn");
        if($("input:checkbox[id='select_all']").prop("checked")) {
            $('input:checkbox').prop("checked", false);
        }
        else {
            $('input:checkbox').prop("checked", false);
        }
    }

    $('.btn-example').click(function(){
        var $href = $(this).attr('href');
        layer_popup($href);
    });

    function layer_popup(el){

        var $el = $(el);        //레이어의 id를 $el 변수에 저장
        var isDim = $el.prev().hasClass('dimBg');   //dimmed 레이어를 감지하기 위한 boolean 변수

        isDim ? $('.dim-layer').fadeIn() : $el.fadeIn();

        var $elWidth = ~~($el.outerWidth()),
                $elHeight = ~~($el.outerHeight()),
                docWidth = $(document).width(),
                docHeight = $(document).height();

        // 화면의 중앙에 레이어를 띄운다.
        if ($elHeight < docHeight || $elWidth < docWidth) {
            $el.css({
                marginTop: -$elHeight /2,
                marginLeft: -$elWidth/2
            })
        } else {
            $el.css({top: 0, left: 0});
        }

        $el.find('a.btn-layerClose').click(function(){
            isDim ? $('.dim-layer').fadeOut() : $el.fadeOut(); // 닫기 버튼을 클릭하면 레이어가 닫힌다.
            return false;
        });

        $('.layer .dimBg').click(function(){
            $('.dim-layer').fadeOut();
            return false;
        });

    }
    function btn_save(){
        var name = $('#name').val();
        var device_type = $(':radio[name="options"]:checked').val();
        var ip = $('#ip').val();
        var sip = $('#sip').val();
        var h_323 = $('#h_323').val();
        var mslync = $('#mslync').val();
        var user_name = $('#user_name').val();
        var recording_device = $('#recording_device').val();
        var group_name = $('#group_name').val();
        var sortno = $('#sortno').val();

        var lock=0;

        if (name == '') {
            swal("Error","Name 를 입력하세요", "warning");
            lock = 1;
        }
        else if($(':radio[name="options"]:checked').is(":checked") == false) {
            swal("Error", "Device Type 을 체크하세요", "warning");
            lock = 1;
        }
        else if(group_name == '') {
            swal("Error","Group Name 을  선택하세오", "warning");
            lock = 1;
        }
        else if(sortno == '') {
            swal("Error","SortNo 를 입력하세요", "warning");
            lock = 1;
        }


        if(lock ==0){
            $.ajax({
                type: "POST",
                url: "/system/endPoint",
                data: {
                    name: name,
                    device_type: device_type,
                    ip: ip,
                    sip: sip,
                    h_323: h_323,
                    mslync: mslync,
                    user_name: user_name,
                    recording_device: recording_device,
                    group_name: group_name,
                    sortno: sortno,
                },
                success: function (data) {
                    if (data.return == 'success') {
                        swal("Success","등록 완료","success")
                        location.reload();
                    }
                    else if (data.return != 'success') {
                        swal({
                            title: "Warning",
                            text: "ID 중복",
                            icon: "warning",
                            buttons: true,
                            dangerMode: false,
                        })
                                .then(function(willDelete) {
                                    if (willDelete) {
                                        return
                                    } else {
                                        return
                                    }
                                });
                    }
                },
            });
        }
    }

//    function btn_del(){
//        $.ajax({
//            type: "POST",
//            url: "/system/endPoint_del",
//            data: {
//                name: name,
//            },success: function (data) {
//               if (data.return == 'success') {
//                 swal("Success","삭제 완료","success")
//           }
//         else if (data.return != 'success') {
//           swal("Fail","삭제 실패","warning")
//                }
//            },
//        })
//    }


</script>
</%block>
