<%inherit file="../common/main_base.html"/>

<%!
from django.utils.translation import ugettext as _
%>

<%block name="containor">
<div class="padding">

  <div class="box">
    <div class="box-header">
      <h2>ROOM USE STATE</h2>
      <small>ROOM USE STATE</small>
    </div>
  </div>

  <div class="box">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th><input type="checkbox"/></th>
              <th>Conference name</th>
              <th>url</th>
              <th>secondary URI</th>
              <th>call ID</th>
              <th>cdr tag</th>
              <th>View</th>
            </tr>
          </thead>
          <tbody>
            % for n in range(0,6):
            <tr>
              <td><input type="checkbox"/></td>
              <td>TMS_Scheduled_Meeting_6000</td>
              <td>6000</td>
              <td></td>
              <td>6000</td>
              <td></td>
              <td><button class="btn btn-fw primary">VIEW</button></td>
            </tr>
            % endfor
          </tbody>
        </table>
      </div>
    </div>
</div>
</%block>
