<%inherit file="../common/main_base.html"/>

<%!
from django.utils.translation import ugettext as _
%>

<%block name="containor">
<div class="padding">
    <div class="box">
        <div class="box-header">
            <h2>CALL STATUS</h2>
            <small>CALL STATUS</small>
        </div>
    </div>

    <div class="box">
        <canvas id="myChart"></canvas>
    </div>
</div>
</%block>

<%block name="scriptDown">
<script>

var init = new Date();
        var initTime = ("0" + init.getHours()).slice(-2) + ":" + ("0" + init.getMinutes()).slice(-2) + ":" + ("0" + init.getSeconds()).slice(-2);

        init.setTime(init.getTime() - 10000);
        var initTimeMinus10 = ("0" + init.getHours()).slice(-2) + ":" + ("0" + init.getMinutes()).slice(-2) + ":" + ("0" + init.getSeconds()).slice(-2);

        init.setTime(init.getTime() - 10000);
        var initTimeMinus20 = ("0" + init.getHours()).slice(-2) + ":" + ("0" + init.getMinutes()).slice(-2) + ":" + ("0" + init.getSeconds()).slice(-2);

        init.setTime(init.getTime() - 10000);
        var initTimeMinus30 = ("0" + init.getHours()).slice(-2) + ":" + ("0" + init.getMinutes()).slice(-2) + ":" + ("0" + init.getSeconds()).slice(-2);

        init.setTime(init.getTime() - 10000);
        var initTimeMinus40 = ("0" + init.getHours()).slice(-2) + ":" + ("0" + init.getMinutes()).slice(-2) + ":" + ("0" + init.getSeconds()).slice(-2);

        var queue = [initTimeMinus30,initTimeMinus30, initTimeMinus20, initTimeMinus10, initTime]

    $(document).ready(function() {

        var call_total = [0, 0, 0, 0, 0]
        var callLegsActive       = [0, 0, 0, 0, 0]
        var callLegsMaxActive    = [0, 0, 0, 0, 0]
        var dataSet = [
            {
                label: "Active Call",
                borderColor: "#e8c3b9",
                fill: false,
                data: call_total
            },
            {
                label: "Active CallLeg",
                borderColor: "#3e95cd",
                fill: false,
                data: callLegsActive
            },
            {
                label: "Max CallLeg",
                borderColor: "#8e5ea2",
                fill: false,
                data: callLegsMaxActive
            }
        ];
        function syncChart() {
            setInterval(function(){

                var d = new Date();
                var currTime = ("0" + d.getHours()).slice(-2) + ":" + ("0" + d.getMinutes()).slice(-2) + ":" + ("0" + d.getSeconds()).slice(-2);

                queue.push(currTime);
                queue.shift();

                $.get( "/callStatus", {
                            //...
                        })
                        .done(function( context ) {

                            /*
                            audioBitRateOutgoing.push(Number(context['audioBitRateOutgoing']));
                            audioBitRateIncoming.push(Number(context['callLegsActive']));
                            videoBitRateOutgoing.push(Number(context['callLegsMaxActive']));
                            videoBitRateIncoming.push(Number(context['videoBitRateIncoming']));
                            */

                            // sample
                            call_total.push(Number(context['call_total']));
                            callLegsActive.push(Number(context['callLegsActive']));
                            callLegsMaxActive.push(Number(context['callLegsMaxActive']));

                            call_total.shift();
                            callLegsActive.shift();
                            callLegsMaxActive.shift();

                            myLineChart.data.datasets[0]['data'] = call_total;
                            myLineChart.data.datasets[1]['data'] = callLegsActive;
                            myLineChart.data.datasets[2]['data'] = callLegsMaxActive;
                            myLineChart.update();
                            /*
                             console.log(queue);
                             console.log(audioBitRateOutgoing);
                             console.log(callLegsActive);
                             console.log(callLegsMaxActive);
                             console.log(videoBitRateIncoming);
                             */
                        });
            } ,2000);
        }
        syncChart();
    });



    var canvas = document.getElementById('myChart');
    var s_data={
        labels: queue,
        datasets: [
            {
                label: "Active_call",
                borderColor: "#F28282",
                fill: false,
                data: [4, 4, 4, 4, 4]
            },
            {
                label: "callLegsActive",
                borderColor: "#C7E886",
                fill: false,
                data: [3, 3, 3, 3, 3]
            },
            {
                label: "callLegsMaxActive",
                borderColor: "#FAB9F1",
                fill: false,
                data: [2, 2, 2, 2, 2]
            },
        ]
    };
    var option = {
        showLines: true
    };
    var myLineChart = Chart.Line(canvas,{
        data:s_data,
        options:option
    });



</script>
</%block>
