<%inherit file="../common/main_base.html"/>

<%!
from django.utils.translation import ugettext as _
%>

<%block name="containor">
<div class="padding">
  <div class="box">
    <div class="box-header">
      <h2>SYSTEM STATUS</h2>
      <small>SYSTEM STATUS</small>
    </div>
  </div>

  <div class="box">
    <table class="table">
      <tbody>
        <tr>
          <td>softwareVersion</td>
          <td>2.4(Beta2)</td>
        </tr>
        <tr>
          <td>uptimeSeconds</td>
          <td>2494177</td>
        </tr>
        <tr>
          <td>cdrTime</td>
          <td>2018-06-14T23:50:33Z</td>
        </tr>
        <tr>
          <td>activated</td>
          <td><span class="badge primary text-u-c">Open</span></td>
        </tr>
        <tr>
          <td>clusterEnabled</td>
          <td><span class="badge grey text-u-c">Closed</span></td>
        </tr>
        <tr>
          <td>callLegsActive</td>
          <td>0</td>
        </tr>
        <tr>
          <td>callLegsMaxActive</td>
          <td>25</td>
        </tr>
        <tr>
          <td>callLegsCompleted</td>
          <td>4914</td>
        </tr>
        <tr>
          <td>audioBitRateOutgoing</td>
          <td>0</td>
        </tr>
        <tr>
          <td>audioBitRateIncoming</td>
          <td>0</td>
        </tr>
        <tr>
          <td>videoBitRateOutgoing</td>
          <td>0</td>
        </tr>
        <tr>
          <td>videoBitRateIncoming</td>
          <td>0</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</%block>
