<%inherit file="../common/main_base.html"/>

<%!
from django.utils.translation import ugettext as _
%>

<%block name="containor">
<div class="padding">
  <div class="box">
    <div class="box-header">
      <h2>SYSTEM STATUS</h2>
      <small>SYSTEM STATUS</small>
    </div>
  </div>

  <div class="box">
    <table class="table">
      <tbody>
        <tr>
          <td>host ID</td>
          <td>${hostId}</td>
        </tr>
        <tr>
          <td>softwareVersion</td>
          <td>${softwareVersion}</td>
        </tr>
        <tr>
          <td>uptimeSeconds</td>
          <td>${uptimeSeconds}</td>
        </tr>
        <tr>
          <td>cdrTime</td>
          <td>${cdrTime}</td>
        </tr>
        <tr>
          <td>activated</td>
          % if activated == 'true':
            <td><span class="badge primary text-u-c">Open</span></td>
          % else:
            <td><span class="badge grey text-u-c">Closed</span></td>
          % endif
        </tr>
        <tr>
          <td>clusterEnabled</td>
          % if clusterEnabled == 'true':
            <td><span class="badge primary text-u-c">Open</span></td>
          % else:
            <td><span class="badge grey text-u-c">Closed</span></td>
          % endif
        </tr>
        <tr>
          <td>cdrCorrelatorIndex</td>
          <td>${cdrCorrelatorIndex}</td>
        </tr>
        <tr>
          <td>callLegsActive</td>
          <td>${callLegsActive}</td>
        </tr>
        <tr>
          <td>callLegsMaxActive</td>
          <td>${callLegsMaxActive}</td>
        </tr>
        <tr>
          <td>callLegsCompleted</td>
          <td>${callLegsCompleted}</td>
        </tr>
        <tr>
          <td>audioBitRateOutgoing</td>
          <td>${audioBitRateOutgoing}</td>
        </tr>
        <tr>
          <td>audioBitRateIncoming</td>
          <td>${audioBitRateIncoming}</td>
        </tr>
        <tr>
          <td>videoBitRateOutgoing</td>
          <td>${videoBitRateOutgoing}</td>
        </tr>
        <tr>
          <td>videoBitRateIncoming</td>
          <td>${videoBitRateIncoming}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</%block>
