.mgt10 {
	margin-top: 50px;
}

.clear label{
	display: block;
}
.clear .dataTables_filter {
	float: left;
}

.clear .dataTables_length {
	float: right;
}

.th-center {
	text-align: center;
	vertical-align: middle;
}

.star {
	color: red;
}
