<%inherit file="../common/main_base.html"/>

<%!
from django.utils.translation import ugettext as _
%>

<%block name="containor">
<div class="padding">
  <div class="box">
    <div class="box-header">
      <h2>ENVIRONMENT</h2>
      <small>ENVIRONMENT</small>
    </div>
  </div>
<style>
    #example{
      width: 70%; !important;
    }
  .environment{
    margin-left: 50px !important;
    width: 30% !important;
  }
  </style>
  <div class="box">
    <div class="box-header accent">
      <h3>API</h3>
    </div>
    <table class="table table-bordered">
      <tbody>
        <tr>
          <td class="environment">API Server</td>
          <td><input type="text" class="form-control" id="example" placeholder=""></td>
        </tr>
        <tr>
          <td class="environment">API PORT</td>
          <td><input type="text" class="form-control" id="example" placeholder=""></td>
        </tr>
        <tr>
          <td class="environment">use HTTPS</td>
          <td><input type="checkbox"></td>
        </tr>
        <tr>
          <td class="environment">API User Name</td>
          <td><input type="text" class="form-control" id="example" placeholder=""></td>
        </tr>
        <tr>
          <td class="environment">API Password</td>
          <td><input type="text" class="form-control" id="example" placeholder=""></td>
        </tr>
        <tr>
          <td class="environment">API Server for Call Bridge</td>
          <td><input type="text" class="form-control" id="example" placeholder=""></td>
        </tr>
        <tr>
          <td class="environment">API PORT for Call Bridge</td>
          <td><input type="text" class="form-control" id="example" placeholder=""></td>
        </tr>
        <tr>
          <td class="environment">use HTTPS for Call Bridge</td>
          <td><input type="checkbox"></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="box">
    <div class="box-header accent">
      <h3>System Account</h3>
    </div>
    <table class="table table-bordered">
      <tbody>
        <tr>
          <td class="environment">Time Zone</td>
          <td><input type="text" class="form-control" id="example" placeholder=""></td>
        </tr>
        <tr>
          <td class="environment">CISCO CMS URL</td>
          <td><input type="text" class="form-control" id="example" placeholder=""></td>
        </tr>
        <tr>
          <td class="environment">Jitter Alert (over)</td>
          <td><input type="text" class="form-control" id="example" placeholder=""></td>
        </tr>
        <tr>
          <td class="environment">PacketLoss Alert (over)</td>
          <td><input type="text" class="form-control" id="example" placeholder=""></td>
        </tr>
        <tr>
          <td class="environment">Main Logo</td>
          <td><input type="text" class="form-control" id="example" placeholder=""></td>
        </tr>
        <tr>
          <td class="environment">Login Logo</td>
          <td><input type="text" class="form-control" id="example" placeholder=""></td>
        </tr>
        <tr>
          <td class="environment">Administrator Cisco Spark ID</td>
          <td><input type="text" class="form-control" id="example" placeholder=""></td>
        </tr>
        <tr>
          <td class="environment">WebEx Site Name</td>
          <td><input type="text" class="form-control" id="example" placeholder=""></td>
        </tr>
        <tr>
          <td class="environment">WebEx ID</td>
          <td><input type="text" class="form-control" id="example" placeholder=""></td>
        </tr>
        <tr>
          <td class="environment">WebEx Password</td>
          <td><input type="text" class="form-control" id="example" placeholder=""></td>
        </tr>
        <tr>
          <td class="environment">UI Template</td>
          <td><input type="text" class="form-control" id="example" placeholder=""></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

</%block>
