<%inherit file="../common/main_base.html"/>

<%!
from django.utils.translation import ugettext as _
%>

<%block name="containor">

<div class="dim-layer">
    <div class="dimBg"></div>

    <div id="layer2" class="pop-layer">
        <div class="pop-container">
            <div class="pop-conts">

          <span class="nav-icon" style="padding-bottom: 18px;">
            <i class="fa fa-plug"></i>
          </span>
                <div style="margin-bottom: 10px;">
                    <strong>Conference management</strong><a href="#" class="btn-layerClose" style="float: right; font-size:18px;">X</a>
                </div>
                <hr width="100%" color="#d9d9d9">
                <div style="text-align: center;">
                    <table style="display: inline-block; width:100%;">
                        <tr>
                            <td>Conference name</td>
                            <td class="rightTd"><input type="text" class="form-control wi280" placeholder=""></td>
                        </tr>
                        <tr>
                            <td>uri</td>
                            <td class="rightTd"><input type="text" class="form-control" placeholder=""></td>
                        </tr>
                        <tr>
                            <td>secondaryUri</td>
                            <td class="rightTd"><input type="text" class="form-control" placeholder=""></td>
                        </tr>
                        <tr>
                            <td>callId</td>
                            <td class="rightTd"><input type="text" class="form-control" placeholder=""></td>
                        </tr>
                        <tr>
                            <td>cdrTag</td>
                            <td class="rightTd"><input type="text" class="form-control" placeholder=""></td>
                        </tr>
                        <tr>
                            <td>passcode</td>
                            <td class="rightTd"><input type="text" class="form-control" placeholder=""></td>
                        </tr>
                        <tr>
                            <td>Confirm password</td>
                            <td class="rightTd"><input type="text" class="form-control" placeholder=""></td>
                        </tr>
                        <tr>
                            <td>defaultLayout</td>
                            <td class="rightTd">
                                <select id="inputState" class="custom-select w-100">
                                    <option selected="">Choose...</option>
                                    <option>...</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>ownerJid</td>
                            <td class="rightTd"><input type="text" class="form-control" placeholder=""></td>
                        </tr>
                        <tr>
                            <td>template</td>
                            <td class="rightTd">
                                <select id="inputState" class="custom-select w-100">
                                    <option selected="">Choose...</option>
                                    <option>...</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>streamUrl</td>
                            <td class="rightTd"><input type="text" class="form-control" placeholder=""></td>
                        </tr>
                        <tr>
                            <td>ownerAdGuid</td>
                            <td class="rightTd"><input type="text" class="form-control" placeholder=""></td>
                        </tr>
                        <tr>
                            <td>MeetingScheduler</td>
                            <td class="rightTd"><input type="text" class="form-control" placeholder=""></td>
                        </tr>

                    </table>

                    <button class="md-btn md-raised mb-2 w-xs purple mgt-20" id="confSave">SAVE</button>

                </div>
            </div>
        </div>
    </div>

</div>
<div class="padding">

    <div class="box">
        <div class="box-header">
            <h2 id="pagetitlename">Active Call</h2>
            <small>Monitoring</small>
        </div>
    </div>

    <!--<div style="padding: 10px; margin-bottom:40px;">-->

        <!--<div style="float: left; margin-right: 10px; padding-top:6px;">Search</div>
        <input type="text" class="form-control" id="search_str" placeholder="Search" required="" style="width:20%; float: left; margin-right:10px;">
        <button id="search_btn" class="md-btn md-raised mb-2 w-xs white" style="float: left">Search</button>
        -->


   <!-- </div>-->



    <div class="box" style="padding: 10px;">
<div style="height: 100px;">
    <h1><b style="padding-left: 50px;font-weight: normal;">${context['calls']['call']['name']}(${context['coSpace']['coSpace']['callId']})</b><img src="/static/common/img/message.png" alt="logo" class="cm_img"></h1>

</div>
        <div class="table-responsive">
            <div class="row" style="border-bottom: 2px groove #CBD8FB;">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-3">
                            <table style="display: inline-block; text-align: right;">
                                <tr>
                                    <td style="border-right: 1px solid black; font-weight: bold; ">Conference duration(sec) &nbsp;</td>
                                    <td>&nbsp;${context['duration_time']}</td>
                                </tr>
                                <tr>
                                    <td style="border-right: 1px solid black; font-weight: bold; ">Current visitor &nbsp;</td>
                                    <td>&nbsp;${context['calls']['call']['numCallLegs']}</td>
                                </tr>
                                <tr>
                                    <td style="border-right: 1px solid black; font-weight: bold; ">Allow Mute &nbsp;</td>
                                    <td>&nbsp;${context['calls']['call']['allowAllMuteSelf']}</td>
                                </tr><br>
                                <tr>
                                    <td style="border-right: 1px solid black; font-weight: bold; ">Peek visitor &nbsp;</td>
                                    <td>&nbsp;${context['calls']['call']['maxCallLegs']}</td>
                                </tr><br>
                                <tr>
                                    <td style="border-right: 1px solid black; font-weight: bold; ">Locked &nbsp;</td>
                                    <td>&nbsp;${context['calls']['call']['locked']} </td>
                                </tr><br>
                                <tr>
                                    <td style="border-right: 1px solid black; font-weight: bold; ">Recording &nbsp;</td>
                                    <td>&nbsp;${context['calls']['call']['recording']}</td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-sm"></div>
                        <div class="col-md">
                            <br><br><br>
                            <a href="#layer_new" class="layouts">
                            <button class="md-btn md-raised mb-2 w-xs blue dialog__trigger" style="width: 230px; height:60px; margin: 2px;">Conference Layouts</button>
                            </a>
                            <br>
                            <button class="md-btn md-raised mb-2 w-xs grey dialog__trigger" style="background-color: #E9AB71; width: 230px; height:40px; margin: 2px;" id="Mute_audio">Mute All Audio</button>
                            <br>
                            <button class="md-btn md-raised mb-2 w-xs grey dialog__trigger" style="background-color: #E9AB71; width: 230px; height:40px; margin: 2px;" id="Mute_video">Mute All Video</button>
                            <br>
                        </div>
                        <div class="col-s" >
                            <br><br><br><br><br><br>
                            <a href="#"><img src="/static/common/img/volume.png" alt="logo" class="cm_img" width="60px" height="60px" id="vol_o"></a>
                            <a href="#"><img src="/static/common/img/volume_x.png" alt="logo" class="cm_img" width="60px" height="60px" id="vol_x"></a>
                            <br>
                            <a href="#"><img src="/static/common/img/video.png" alt="logo" class="cm_img" width="60px" height="60px" id="video_o"></a>
                            <a href="#"><img src="/static/common/img/video_x.png" alt="logo" class="cm_img" width="60px" height="60px" id="video_x"></a>
                            <br>
                        </div>
                        <div class="col-sm" style=" vertical-align: middle; text-align: center; ">

                            <br>
                            <input type="text" style="height: 32px; border: 1px groove #CBD8FB">&nbsp;<button class="md-btn md-raised mb-2 w-xs blue dialog__trigger" style="margin-top: 50px; width: 70px;">invite</button>
                            <br><br>
                            <button class="md-btn md-raised mb-2 w-xs grey dialog__trigger" style="background-color: #70CFCB; width: 230px; margin: 1px; height: 35px;">Add participants</button>
                            <br><br>
                            <button class="md-btn md-raised mb-2 w-xs grey dialog__trigger" style="background-color: #70CFCB; width: 230px; margin: 1px; height: 35px;">End conference</button>
                        </div>
                    </div>
                </div>

            </div>
            <table class="table table-hover table-striped table-bordered" id="table_template" style="width:100%">
                <thead>
                <tr>
                    <th class="th-center">Name</th>
                    <th class="th-center">Remote ID</th>
                    <th class="th-center">Command</th>
                    <th class="th-center">Disconnect</th>
                    <th class="th-center">Status</th>
                    <th class="th-center">Alarms</th>
                </tr>
                </thead>
                <tbody class="monitoring">
                % for user in context['callLegs_list']:
                    <tr>
                        <td>${user['callLeg']['name']}</td>
                        <td>${user['callLeg']['originalRemoteParty']}</td>
                        <td style="text-align: center">
                            <!--
                            <a href="#"><img src="/static/common/img/mic.png" alt="logo" class="conference_img" width="60px" height="60px" id="user_rxAudio_o"></a>
                            <a href="#"><img src="/static/common/img/mic_x.png" alt="logo" class="conference_img" width="60px" height="60px" id="user_rxAudio_x"></a>
                            <a href="#"><img src="/static/common/img/video.png" alt="logo" class="conference_img" width="60px" height="60px" id="user_txVideo_o"></a>
                            <a href="#"><img src="/static/common/img/video_x.png" alt="logo" class="conference_img" width="60px" height="60px" id="user_txVideo_x"></a>
                            <a href="#"><img src="/static/common/img/volume.png" alt="logo" class="conference_img" width="60px" height="60px" id="user_rxVideo_o"></a>
                            <a href="#"><img src="/static/common/img/volume_x.png" alt="logo" class="conference_img" width="60px" height="60px" id="user_rxVideo_x"></a>
                            <a href="#"><img src="/static/common/img/fileshared.png" alt="logo" class="conference_img" width="60px" height="60px" id="user_presentationContributionAllowed_o"></a>
                            <a href="#"><img src="/static/common/img/fileshared_x.png" alt="logo" class="conference_img" width="60px" height="60px" id="user_presentationContributionAllowed_x"></a>
                            <a href="#"><img src="/static/common/img/view.png" alt="logo" class="conference_img" width="60px" height="60px" id="user_presentationViewingAllowed_o"></a>
                            <a href="#"><img src="/static/common/img/view_x.png" alt="logo" class="conference_img" width="60px" height="60px" id="user_presentationViewingAllowed_x"></a>
                            -->
                            <div id="rxAudioMute" style="display: none;">${user['callLeg']['configuration']['rxAudioMute']}</div>
                            <div id="txVideoMute" style="display: none;">${user['callLeg']['configuration']['txVideoMute']}</div>
                            <div id="rxVideoMute" style="display: none;">${user['callLeg']['configuration']['rxVideoMute']}</div>
                            <div id="presentationContributionAllowed" style="display: none;">${user['callLeg']['configuration']['presentationContributionAllowed']}</div>
                            <div id="presentationViewingAllowed" style="display: none;">${user['callLeg']['configuration']['presentationViewingAllowed']}</div>
                            <ul>
                            <li>rxAudioMute : ${user['callLeg']['configuration']['rxAudioMute']}</li>
                            <li>txVideoMute : ${user['callLeg']['configuration']['txVideoMute']}</li>
                            <li>rxVideoMute : ${user['callLeg']['configuration']['rxVideoMute']}</li>
                            <li>presentationContributionAllowed : ${user['callLeg']['configuration']['presentationContributionAllowed']}</li>
                            <li>presentationViewingAllowed : ${user['callLeg']['configuration']['presentationViewingAllowed']}</li>
                        </ul></td>
                        <td style="text-align: center;"><button uid="${user['callLeg']['@id']}" class="btn btn-danger btn_disconnect">Disconnect</button></td>
                        <td><ul>
                            <li>Connected at ${user['callLeg']['status']['durationSeconds']}</li>
                            % if 'txVideo' in user['callLeg']['status'].keys():
                            <li>Tx : ${user['callLeg']['status']['txVideo']['width']} x ${user['callLeg']['status']['txVideo']['height']}, ${user['callLeg']['status']['txVideo']['codec']}, ${user['callLeg']['status']['txAudio']['codec']} </li>
                            % else :
                            <li>Tx : ${user['callLeg']['status']['txAudio']['codec']} </li>
                            % endif
                            % if 'rxAudio' in user['callLeg']['status'].keys():
                            <li>Rx : ${user['callLeg']['status']['rxAudio']['codec']}</li>
                            % endif
                        </ul></td>
                        <td style="text-align: center;">
                            % if 'layout' in user['callLeg']['status'].keys():
                            <img src="/static/common/img/${user['callLeg']['status']['layout']}.png" alt="logo" class="cm_img" >
                            <br>
                            ${user['callLeg']['status']['layout']}
                            % else:
                            % endif
                        </td>
                    </tr>
                % endfor
                </tbody>
            </table>
            <br><br><br><br><br><br><br><br>
        </div>
    </div>
</div>
<style>
    #img_click{
        margin: 20px;
        color: #0b2e13;
    }
    #img_click:after{
        padding: 15px 25px;
        font-size: 24px;
        text-align: center;

        color: white;
        background-color: #CFEDF6;

        box-shadow: 0 9px white;
    }
    #img_click:hover {
        background-color: #CFEDF6
    }

    #img_click:active:after {
        background-color: #CFEDF6;
        box-shadow: 0 5px white;
        transform: translateY(4px);
    }
    .monitoring td {
        vertical-align: middle;
    }
    .monitoring td li {
        display: block;
    }
    .conference_img {
        display: none;
    }
    .conference_img.on {
        display: inline-block;
    }
</style>
<!-- NEW LAYER POPUP -->
<div class="dim-layer2">
    <div class="dimBg2"></div>

    <div id="layer_new" class="pop-layer2">
        <div class="pop-container2">
            <div class="pop-conts">

          <span class="nav-icon" style="padding-bottom: 18px;">
            <i class="fa fa-book"></i>
          </span>
                <div style="margin-bottom: 10px;">

                    <strong>Layouts Setting</strong><a href="#" class="btn-layerClose" style="float: right; font-size:18px;">X</a>
                    <hr width="100%" color="#d9d9d9">
                </div>
                <div style="text-align: center;">
                    <table style="display: inline-block; width:100%; margin-bottom: 20px; ">

                        <tr>
                            <td><button id="img_click" href="#" class="btn btn-outline-light"><img src="/static/common/img/notSet.png" alt="logo" class="cm_img" ><br>Not Set</button></td>
                            <td><button id="img_click" href="#" class="btn btn-outline-light"><img src="/static/common/img/allEqual.png" alt="logo" class="cm_img" ><br>AllEqual</button></td>
                            <td><button id="img_click" href="#" class="btn btn-outline-light"><img src="/static/common/img/allEqualQuarters.png" alt="logo" class="cm_img" ><br>AllEqual<br>Quarters</button></td>
                            <td><button id="img_click" href="#" class="btn btn-outline-light"><img src="/static/common/img/allEqualNinths.png" alt="logo" class="cm_img" ><br>AllEqual<br>Nineth</button></td>
                            <td><button id="img_click" href="#" class="btn btn-outline-light"><img src="/static/common/img/allEqualSixteenths.png" alt="logo" class="cm_img" ><br>AllEqual<br>Sisteenth</button></td>
                        </tr>
                         <tr>
                            <td><button id="img_click" href="#" class="btn btn-outline-light"><img src="/static/common/img/allEqualTwentyfifths.png" alt="logo" class="cm_img" ><br>AllEqual<br>Twentyfifths</button></td>
                            <td><button id="img_click" href="#" class="btn btn-outline-light"><img src="/static/common/img/speakerOnly.png" alt="logo" class="cm_img" ><br>Speaker<br>Only</button></td>
                            <td><button id="img_click" href="#" class="btn btn-outline-light"><img src="/static/common/img/Telepresence.png" alt="logo" class="cm_img" ><br>Telepresence</button></td>
                            <td><button id="img_click" href="#" class="btn btn-outline-light"><img src="/static/common/img/stacked.png" alt="logo" class="cm_img" ><br>Stacked</button></td>
                            <td><button id="img_click" href="#" class="btn btn-outline-light"><img src="/static/common/img/onePlusFive.png" alt="logo" class="cm_img" ><br>One Plus<br>Five</button></td>
                        </tr>
                         <tr>
                            <td><button id="img_click" href="#" class="btn btn-outline-light"><img src="/static/common/img/oneplusSeven.png" alt="logo" class="cm_img" ><br>One Plus<br>Seven</button></td>
                            <td><button id="img_click" href="#" class="btn btn-outline-light"><img src="/static/common/img/onePlusNine.png" alt="logo" class="cm_img" ><br>One Plus<br>Nine</button></td>
                            <td><button id="img_click" href="#" class="btn btn-outline-light"><img src="/static/common/img/automatic.png" alt="logo" class="cm_img" ><br>Automatic</button></td>
                            <td><button id="img_click" href="#" class="btn btn-outline-light"><img src="/static/common/img/onePlusN.png" alt="logo" class="cm_img" ><br>One Plus<br>N</button></td>

                        </tr>

                    </table>
                </div>

                <div style="width:48%; float:left; margin-right: 15px;  padding-bottom: 20px;">
            </div>
        </div>
    </div>
</div>

<!-- NEW LAYER POPUP 끝 -->
</%block>

<%block name="scriptDown">
<script>
    $(document).ready(function() {
        $("#vol_x").hide()
        $("#video_x").hide()

        $("#vol_o").click(function(){
            $("#vol_x").show()
            $("#vol_o").hide()
        });
        $("#vol_x").click(function(){
            $("#vol_o").show()
            $("#vol_x").hide()
        });
        $("#video_o").click(function(){
            $("#video_x").show()
            $("#video_o").hide()
        });
        $("#video_x").click(function(){
            $("#video_o").show()
            $("#video_x").hide()
        });

        $("#Mute_audio").click(function(){
            $("#vol_x").show()
            $("#vol_o").hide()
        })
        $("#Mute_video").click(function(){
            $("#video_x").show()
            $("#video_o").hide()
        })


        if($("#rxAudioMute").text() == 'true'){
            $("#user_rxAudio_o").addClass('on');
            $("#user_rxAudio_x").removeClass('on');
        }else{
            $("#user_rxAudio_o").removeClass('on');
            $("#user_rxAudio_x").addClass('on');
        }

        if($("#txVideoMute").text() == 'true'){
            $("#user_txVideo_o").addClass('on');
            $("#user_txVideo_x").removeClass('on');
        }else{
            $("#user_txVideo_o").removeClass('on');
            $("#user_txVideo_x").addClass('on');
        }

        if($("#rxVideoMute").text() == 'true'){
            $("#user_rxVideo_o").addClass('on');
            $("#user_rxVideo_x").removeClass('on');
        }else{
            $("#user_rxVideo_o").removeClass('on');
            $("#user_rxVideo_x").addClass('on');
        }

        if($("#presentationContributionAllowed").text() == 'true'){
            $("#user_presentationContributionAllowed_o").addClass('on');
            $("#user_presentationContributionAllowed_x").removeClass('on');
        }else{
            $("#user_presentationContributionAllowed_o").removeClass('on');
            $("#user_presentationContributionAllowed_x").addClass('on');
        }

        if($("#presentationViewingAllowed").text() == 'true'){
            $("#user_presentationViewingAllowed_o").addClass('on');
            $("#user_presentationViewingAllowed_x").removeClass('on');
        }else{
            $("#user_presentationViewingAllowed_o").removeClass('on');
            $("#user_presentationViewingAllowed_x").addClass('on');
        }


        $(".btn_disconnect").click(function(){
            var user_uid = $(this).attr('uid');
            swal({
                title: '',
                text: '해당 사용자의 연결을 끊으시겠습니까?',
                type: 'info',
                showCancelButton: true,
                confirmButtonText: '확인',
                cancelButtonText: '취소',
                //closeOnClickOutside: false,
                //closeOnEsc: false,
                allowOutsideClick: false,
                allowEscapeKey: false,
            }).then(function (data) {
                if(data.value == true){
                    $.ajax({
                        url: '/activecall_monitoring/del',
                        type: "POST",
                        data: {
                            'csrfmiddlewaretoken': '${csrf_token}',
                            'user_uid': user_uid
                        }
                    }).done(function(ret){
                        if(ret.status == 'success'){
                                location.reload();
                        } else {
                            swal('경고', '연결 해지에 실패하였습니다.', 'warning');
                        }
                    });
                } else {
                    return;
                }
            });
        });



    });



    $('.layouts').click(function(){
        var $href = $(this).attr('href');
        layouts($href);
    });

    function layouts(el){

        var $el = $(el);        //레이어의 id를 $el 변수에 저장
        var isDim = $el.prev().hasClass('dimBg2');   //dimmed 레이어를 감지하기 위한 boolean 변수

        isDim ? $('.dim-layer2').fadeIn() : $el.fadeIn();

        var $elWidth = ~~($el.outerWidth()),
                $elHeight = ~~($el.outerHeight()),
                docWidth = $(document).width(),
                docHeight = $(document).height();

        // 화면의 중앙에 레이어를 띄운다.
        if ($elHeight < docHeight || $elWidth < docWidth) {
            $el.css({
                marginTop: -$elHeight /2,
                marginLeft: -$elWidth/2
            })
        } else {
            $el.css({top: 0, left: 0});
        }

        $el.find('a.btn-layerClose').click(function(){
            isDim ? $('.dim-layer2').fadeOut() : $el.fadeOut(); // 닫기 버튼을 클릭하면 레이어가 닫힌다.
            return false;
        });

        $('.layer .dimBg2').click(function(){
            $('.dim-layer2').fadeOut();
            return false;
        });

    }
</script>
</%block>
