<%inherit file="../common/main_base.html"/>

<%!
from django.utils.translation import ugettext as _
%>

<%block name="containor">
<style>
    .pagination .active .page-link, .pagination .active a{
        background-color: #6e8df4 !important;
        border-color: #6e8df4 !important
    }

    td{
        border: solid 1px #dddddd;
        padding: 3px;
    }

    .rightTd{
        width:100%
    }
</style>

<div class="dim-layer">
    <div class="dimBg"></div>
    <div id="layer2" class="pop-layer" style="height: 660px;">
        <div class="pop-container">
            <div class="pop-conts">

          <span class="nav-icon" style="padding-bottom: 18px;">
            <i class="fa fa-plug"></i>
          </span>
                <div style="margin-bottom: 10px;">
                    Conference management<a href="#" class="btn-layerClose" style="float: right;">X</a>
                </div>

                <div style="text-align: center;">
                    <table style="display: inline-block; width:100%;">
                        <tbody>
                        <tr>
                            <td>Conference name<font class="star">*</font></td>
                            <td class="rightTd"><input id="conference_id" style="display: none;" type="hidden"/><input type="text" class="form-control" id="conference_name" placeholder=""></td>
                        </tr>
                        <tr>
                            <td>uri<font class="star">*</font></td>
                            <td class="rightTd"><input type="text" id="conference_uri" class="form-control" placeholder=""></td>
                        </tr>
                        <tr>
                            <td>secondaryUri</td>
                            <td class="rightTd"><input type="text" id="conference_secondaryUri" class="form-control" placeholder=""></td>
                        </tr>
                        <tr>
                            <td>callId<font class="star">*</font></td>
                            <td class="rightTd"><input type="text" id="conference_callId" class="form-control" placeholder=""></td>
                        </tr>
                        <tr>
                            <td>cdrTag</td>
                            <td class="rightTd"><input type="text" id="conference_cdrTag" class="form-control" placeholder=""></td>
                        </tr>
                        <tr>
                            <td>passcode</td>
                            <td class="rightTd"><input type="password" id="conference_passcode" class="form-control" placeholder=""></td>
                        </tr>
                        <tr>
                            <td>Confirm password</td>
                            <td class="rightTd"><input type="password" id="conference_confirm_passcode" class="form-control" placeholder=""></td>
                        </tr>
                        <tr>
                            <td>defaultLayout</td>
                            <td class="rightTd">
                                <select id="conference_defaultLayout" class="custom-select w-100">
                                    <option value="Layoutdefault" selected="selected">not Set</option>
                                    <option value="allEqual">allEqual</option>
                                    <option value="allEqualQuarters">allEqualQuarters</option>
                                    <option value="allEqualNinths">allEqualNinths</option>
                                    <option value="allEqualSixteenths">allEqualSixteenths</option>
                                    <option value="allEqualTwentyFifths">allEqualTwentyFifths</option>
                                    <option value="speakerOnly">speakerOnly</option>
                                    <option value="telepresence">telepresence</option>
                                    <option value="stacked">stacked</option>
                                    <option value="onePlusFive">onePlusFive</option>
                                    <option value="onePlusSeven">onePlusSeven</option>
                                    <option value="onePlusNine">onePlusNine</option>
                                    <option value="automatic">automatic</option>
                                    <option value="onePlusN">onePlusN</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>ownerJid</td>
                            <td class="rightTd"><input type="text" id="conference_ownerJid" class="form-control" placeholder=""></td>
                        </tr>
                        <tr>
                            <td>template</td>
                            <td class="rightTd">
                                <select id="conference_template" class="custom-select w-100">
                                    <option value="templatedefault" selected="selected">Select</option>
                                    % for temp in context['template']:
                                        <option value="${temp['seq']}">${temp['title']}</option>
                                    % endfor
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>streamUrl</td>
                            <td class="rightTd"><input type="text" id="conference_streamUrl" class="form-control" placeholder=""></td>
                        </tr>
                        <tr>
                            <td>ownerAdGuid</td>
                            <td class="rightTd"><input type="text" id="conference_ownerAdGuid" class="form-control" placeholder=""></td>
                        </tr>
                        <tr>
                            <td>MeetingScheduler</td>
                            <td class="rightTd"><input type="text" id="conference_meetingScheduler" class="form-control" placeholder=""></td>
                        </tr>
                        </tbody>
                    </table>

                    <button class="md-btn md-raised mb-2 w-xs blue mgt10" id="confSave" style="margin-top: 20px;">SAVE</button>

                </div>
            </div>
        </div>
    </div>
</div>


<div class="padding">

    <div class="box">
        <div class="box-header">
            <h2 id="pagetitlename">CONFERENCE ROOM</h2>
            <small>You can see the current meeting status</small>
        </div>
    </div>
</div>

<div class="box" style="padding: 10px;">


    <div style="padding: 10px;">
        <button class="md-btn md-raised mb-2 w-xs red" id="delBtn" style="float: right;">DEL</button>

        <a href="#layer2" class="btn-example">
            <button class="md-btn md-raised mb-2 w-xs indigo dialog__trigger" id="addBtn" style="float: right; margin-right: 8px;">ADD</button>
        </a>
    </div>

    <div class="table-responsive">
        <table class="table table-hover table-striped table-bordered" id="table_conferenceRoom" style="width:100%">

            <thead>
            <tr>
                <th style="width:5%" class="th-center"><input type="checkbox" id="select_all"/></th>
                <th style="width:35%" class="th-center">Conference Name</th>
                <th style="width:10%" class="th-center">URI</th>
                <th style="width:15%" class="th-center">Secondary URI</th>
                <th style="width:10%" class="th-center">Call ID</th>
                <th style="width:10%" class="th-center">CDR Tag</th>
            </tr>
            </thead>

            <tbody id="tbody">
            % for data in context['data']:
            <% data_id = data['@id'] %>
            <tr>
                <td></td>
                <td><a href="javascript:coSpaceDetail('${data_id}');" con-id="${data_id}" style="text-decoration: underline;">${data['name']}</a></td>
                <td>${data['uri']}</td>
                <td>${data['secondaryUri']}</td>
                <td>${data['callId']}</td>
                <td>${data['cdrTag']}</td>
            </tr>
            % endfor
            </tbody>

        </table>
    </div>

    <div style="text-align: center;">
        <div id="paging"></div>
    </div>

</div>

<input type="hidden" id="all_pages" value="6">
<input type="hidden" id="curr_page" value="1">
</%block>


<%block name="scriptDown">
<script>
    $(document).ready(function() {
        //$(".paginate_button").attr('href', 'javascript:check_click();');
        $table = $("#table_conferenceRoom");
        var data_tb = $table.dataTable({
            rowReorder: false,
            sLengthMenu: [
                [10, 20, 50, -1], //key
                [10, 20, 50, "All"] //value
            ],
            dom: '<"clear"fl><"search">rt<"bottom"ipl>',
            searching: true,
            paginate: true,
            order: [[1, 'desc']],
            "oLanguage": {
                "sInfo": "Page: _PAGE_ / _PAGES_",
                'sLengthMenu': 'Display <select name="datatable-length">'+
                '<option value="10">10</option>'+
                '<option value="20">20</option>'+
                '<option value="50">50</option>'+
                '<option value="-1">All</option>'+
                '</select> records',
                "oPaginate": {
                    "sNext": ">",
                    "sPrevious": "<",
                },

            },
            columns: [
                {'orderable': false},
                null,
                null,
                null,
                null,
                null,
            ],
            columnDefs: [
                {targets: 0, orderable: 'false', searchable: false, checkboxes: true, className: "text-center check-row"},
            ],
            "drawCallback":function(){
                $(".paginate_button").attr('href', 'javascript:check_click();');
            }
        });

        // save
        $('#confSave').click(function(){
            var conference_id = $("#conference_id").val();
            var conference_name = $("#conference_name").val();
            var conference_uri = $("#conference_uri").val();
            var conference_secondaryUri = $("#conference_secondaryUri").val();
            var conference_callId = $("#conference_callId").val();
            var conference_cdrTag = $("#conference_cdrTag").val();
            var conference_passcode = $("#conference_passcode").val();
            var conference_confirm_passcode = $("#conference_confirm_passcode").val();
            var conference_defaultLayout = $("#conference_defaultLayout option:selected").val();
            var conference_ownerJid = $("#conference_ownerJid").val();
            var conference_template = $("#conference_template option:selected").val();
            var conference_streamUrl = $("#conference_streamUrl").val();
            var conference_ownerAdGuid = $("#conference_ownerAdGuid").val();
            var conference_meetingScheduler = $("#conference_meetingScheduler").val();

            var lock = 0;

            if(conference_name == ''){
                alert('Conference name을 입력하세요.');
                lock = 1;
            }
            else if(conference_uri == ''){
                alert('uri를 입력하세요.');
                lock = 1;
            }
            else if(conference_callId == ''){
                alert('callId를 입력하세요.');
                lock = 1;
            }
            if(conference_passcode != conference_confirm_passcode){
                alert('passcode가 일치하지 않습니다.');
                lock = 1;
            }
            if(conference_defaultLayout == 'Layoutdefault'){
                conference_defaultLayout = '';
            } else if(conference_template == 'templatedefault'){
                conference_template = '';
            }

            console.log({'name': conference_name,
                'uri': conference_uri,
                'secondaryUri': conference_secondaryUri,
                'callId': conference_callId,
                'cdrTag': conference_cdrTag,
                'defaultLayout': conference_defaultLayout,
                'ownerJid': conference_ownerJid,
                'template': conference_template,
                'streamUrl': conference_streamUrl,
                'ownerAdGuid': conference_ownerAdGuid,
                'meetingScheduler': conference_meetingScheduler,});

            if(conference_id != ''){
                var coSpaceUrl = '/conferenceRoom/update';
            } else {
                var coSpaceUrl = '/conferenceRoom/add';
            }

            if(lock == 0){
                $.post(coSpaceUrl, {
                            '@id': conference_id,
                            'name': conference_name,
                            'uri': conference_uri,
                            'secondaryUri': conference_secondaryUri,
                            'callId': conference_callId,
                            'cdrTag': conference_cdrTag,
                            'passcode': conference_passcode,
                            //'passcode': '',
                            'defaultLayout': conference_defaultLayout,
                            'ownerJid': conference_ownerJid,
                            'template': conference_template,
                            'streamUrl': conference_streamUrl,
                            'ownerAdGuid': conference_ownerAdGuid,
                            'meetingScheduler': conference_meetingScheduler,
                        })
                        .done(function(data){
                            if(data.code == '200'){
                                swal({
                                    title: 'Success!',
                                    text: "",
                                    type: 'success',
                                }).then(function(){
                                    location.reload();
                                });
                            } else {
                                swal('경고', '입력값을 확인하세요', 'warning');
                            }

                        });
            }

        });

        // 체크박스 리스트 선택(delete)
        $('#delBtn').click(function () {
            var table = $('#table_conferenceRoom').DataTable();
            var del_conference = $('td.check-row input[type="checkbox"]:checked').map(function() {
                var this_tr = $(this).parent().parent();
                // con-id는 id값 저장을위해 지정해준 속성
                var this_td_data = $(this_tr).find("a").attr('con-id');
                console.log(this_td_data);
                return this_td_data;}).get();

            swal({
                title: '삭제하시겠습니까?',
                text: '삭제하면 복구할 수 없습니다.',
                type: 'info',
                showCancelButton: true,
                confirmButtonText: '확인',
                cancelButtonText: '취소',
                //closeOnClickOutside: false,
                //closeOnEsc: false,
                allowOutsideClick: false,
                allowEscapeKey: false,
            }).then(function (data) {
                if(data.value == true){
                    $.ajax({
                        url: '/conferenceRoom/del',
                        type: "POST",
                        data: {
                            'csrfmiddlewaretoken': '${csrf_token}',
                            'del_arr': del_conference
                        }
                    }).done(function(data){
                        if(data.status == 'success'){
                            swal({
                                title: 'Success!',
                                text: "",
                                type: 'success',
                            }).then(function(){
                                location.reload();
                            });
                        } else {
                            swal('경고', '삭제에 실패하였습니다.', 'warning');
                        }
                    });
                } else {
                    return;
                }
            });
        });

    });

    function check_click(){
        //alert("paging btn");
        if($("input:checkbox[id='select_all']").prop("checked")) {
            $('input:checkbox').prop("checked", false);
        }
        else {
            $('input:checkbox').prop("checked", false);
        }
    }

    function coSpaceDetail(coSpaceId){
        $.ajax({
            url: '/conferenceRoom/detail',
            type: 'POST',
            data: {
                'csrfmiddlewaretoken': '${csrf_token}',
                'coSpaceId': coSpaceId
            }
        }).done(function (data) {
            $("#conference_id").val(data.data.coSpace.id);
            $("#conference_name").val(data.data.coSpace.name);
            $("#conference_uri").val(data.data.coSpace.uri);
            $("#conference_secondaryUri").val(data.data.coSpace.secondaryUri);
            $("#conference_callId").val(data.data.coSpace.callId);
            $("#conference_cdrTag").val(data.data.coSpace.cdrTag);
            if(data.data.coSpace.defaultLayout != null){
                $("#conference_defaultLayout").val(data.data.coSpace.defaultLayout);
            }else{
                $("#conference_defaultLayout").val('Layoutdefault').attr('selected', 'selected');
            }
            if(data.data.coSpace.template != null){
                $("#conference_template").val(data.data.coSpace.template);
            }else{
                $("#conference_template").val('templatedefault').attr('selected', 'selected');
            }
            $("#conference_ownerJid").val(data.data.coSpace.ownerJid);
            $("#conference_streamUrl").val(data.data.coSpace.streamUrl);
            $("#conference_ownerAdGuid").val(data.data.coSpace.ownerAdGuid);
            $("#conference_meetingScheduler").val(data.data.coSpace.meetingScheduler);

            layer_popup('#layer2');
        });
    }

    $('.btn-example').click(function(){
        var $href = $(this).attr('href');
        layer_popup($href);
    });


    function layer_popup(el){
        var $el = $(el);        //레이어의 id를 $el 변수에 저장
        var isDim = $el.prev().hasClass('dimBg');   //dimmed 레이어를 감지하기 위한 boolean 변수

        isDim ? $('.dim-layer').fadeIn() : $el.fadeIn();

        var $elWidth = ~~($el.outerWidth()),
                $elHeight = ~~($el.outerHeight()),
                docWidth = $(document).width(),
                docHeight = $(document).height();

        // 화면의 중앙에 레이어를 띄운다.
        if ($elHeight < docHeight || $elWidth < docWidth) {
            $el.css({
                marginTop: -$elHeight /2,
                marginLeft: -$elWidth/2
            })
        }
        else {
            $el.css({top: 0, left: 0});
        }

        $el.find('a.btn-layerClose').click(function(){
            $("#conference_id").val('');
            $("#conference_name").val('');
            $("#conference_uri").val('');
            $("#conference_secondaryUri").val('');
            $("#conference_callId").val('');
            $("#conference_cdrTag").val('');
            $("#conference_passcode").val('');
            $("#conference_confirm_passcode").val('');
            $("#conference_defaultLayout").val('Layoutdefault').attr('selected', 'selected');
            $("#conference_ownerJid").val('');
            $("#conference_template").val('templatedefault').attr('selected', 'selected');
            $("#conference_streamUrl").val('');
            $("#conference_ownerAdGuid").val('');
            $("#conference_meetingScheduler").val('');
            isDim ? $('.dim-layer').fadeOut() : $el.fadeOut(); // 닫기 버튼을 클릭하면 레이어가 닫힌다.
            return false;
        });

        $('.layer .dimBg').click(function(){
            $('.dim-layer').fadeOut();
            return false;
        });

    }

</script>

</%block>
